* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  user-select: none;
}

*:focus {
  outline: none;
}

body {
  background: #0b0b0f;
  color: #eaeaf0;
  min-height: 100vh;
  overflow-x: hidden;
}

.gradient-bg {
  position: fixed;
  inset: 0;
  background:
    radial-gradient(600px 400px at 15% 10%, rgba(20, 247, 255, 0.12), transparent 89%),
    radial-gradient(500px 500px at 85% 80%, rgba(20, 247, 255, 0.08), transparent 75%),
    #0a0a0f;
  z-index: -1;
}


/* profile pic/contact me icons */

.profile-top {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #78d4ff;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-top:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 15px rgba(120, 212, 255, 0.705);
}

.contact-top-right {
  position: fixed;
  top: 90px;
  right: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  z-index: 10;
}

.contact-top-right a {
  color: rgba(120, 235, 255, 0.795);
  font-size: 1.8rem;
  transition: transform 0.3s, color 0.3s;
}

.contact-top-right a:hover {
  transform: scale(1.4);
  color: #00cfff;
}


/* Nav Bar */

.nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  background: rgba(14, 22, 20, 0.6);
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

.nav li {
  position: relative;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  
}

.nav li.active {
  opacity: 1;
  font-weight: 600;
}

.nav li.active::after {
  width: 100%;
  background-color: #78d4ff3f;
}

.nav li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #78d4ff;
  transition: width 0.3s ease;
}

.nav li:hover {
  opacity: 1;
}

.nav li:hover::after {
  width: 100%;
}



main {
  padding: 2rem;
}


.tab {
  display: none;
}

.tab.active {
  display: block;
}

.grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 180px;
  gap: 1.2rem;
}

.card {
  background: rgba(16,16,22,0.85);
  border-radius: 18px;
  padding: 1.4rem;
  box-shadow:
    inset 0 0 0 1px rgba(255,255,255,0.03),
    0 10px 30px rgba(0,0,0,0.4);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow:
    inset 0 0 10px 2px rgba(120, 239, 255, 0.15),
    0 0 25px rgba(120, 212, 255, 0.15);
}

.card.image:hover {
  box-shadow: 2px 1px 20px rgba(120, 239, 255, 0.705);
}

.card.image,
.card.prf-image {
  padding: 0;
}

.card.image img,
.card.prf-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.card.tech i:hover {
  transform: scale(1.8);
  transition: transform 0.3s ease;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-items: center;
  gap: 2rem; 
  margin-top: 0.2rem;
}

.tech-icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

.tech-icons i {
  font-size: 2.2rem;
  color: #78d4ff;
  margin-bottom: 0.5rem;
  margin-top: 4.2rem;
}

.tech-icons span {
  font-size: 1rem;
  font-weight: 500;
  color: #eaeaf0;
}

.card.intro {
  grid-column: span 2;
  grid-row: span 1;
}

.card.image {
  grid-column: span 1;
  grid-row: span 2;
}

.card.tech {
  grid-column: 1 / span 3;
  grid-row: 3 / span 2;
  border: 1px solid #78d4ff;
}

.card.tech h3 {
  text-align: center;
}

.card.location,
.card.role {
  grid-column: span 1;
  grid-row: span 1;
}

.card.role {
  background: rgba(120, 235, 255, 0.795);
  color: #0b0b0f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.card.quote {
  grid-column: span 2;
  grid-row: span 1;
}



.card.large {
  grid-column: span 2;
}

/* experience cards */

#education .grid {
  display: grid;
  
  gap: 1.5rem;
  max-width: 1200px;
  margin: auto;
}


#education .card {
  padding: 0.9rem;
  border-radius: 18px;
  background: rgba(16,16,22,0.85);
  box-shadow:
    inset 0 0 0 1px rgba(255,255,255,0.03),
    0 10px 30px rgba(0,0,0,0.4);
  transition: all 0.3s ease;
  grid-column: span 2;
  grid-row: span 2;
}

#education .card.degree {
  grid-column: span 2;
  grid-row: span 1;
  background: rgba(104, 218, 238, 0.678);
  color: #0b0b0f;
}

#education .card.degree i {
  color: #0b0b0f;
}

#education .card:hover {
  box-shadow:
    inset 0 0 10px 2px rgba(120, 239, 255, 0.15),
    0 0 35px rgba(120, 212, 255, 0.25);
  transform: translateY(-2px);
}


#education .card h3 i {
  margin-right: 0.6rem;
  color: #78d4ff;
}


#education .card ul {
  padding-left: 1.2rem;
  margin-top: 2.6rem;
}

#education .card li {
  margin-bottom: 0.8rem;
  font-size: 1.0rem;
  line-height: 1.5;
  opacity: 0.85;
}

#education .card.degree p {
  margin-top: 1.2rem;
  font-size: 1.0rem;
  color:#000000;

}


#education .card.degree p em {
  opacity: 0.8;
  font-style: italic;
  margin-left: 1.2rem;
}


#education .card.experience {
  background: rgba(16,16,22,0.85);
  grid-column: span 4;
  grid-row: 1 /span 1;
}

#education .card.experience ul {
  margin-top: 0.2rem;
}


#education .card .year {
  font-size: 0.85rem;
  font-style: italic;
  color: #fff;
  margin-top: -0.5rem;
  margin-bottom: 0.9rem;
}


#education .card.tools {
  background: rgba(16,16,22,0.85);
  border: 1px solid #78d4ff;
  grid-column: span 2;
  grid-row: span 2;
}

#education .card.tools h3 i {
  color: #78d4ff;
}


/* Projects cards */

.card.project {
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: inherit;
  min-height: 100px;
}

#projects .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}








@media (max-width: 768px) {
  #education .card h3 {
    font-size: 1.2rem;
  }

  #education .card li,
  #education .card p {
    font-size: 0.9rem;
  }
}

.card h2, .card h3 {
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  opacity: 0.85;
}

p {
  font-size: 0.95rem;
  line-height: 1.6;
  opacity: 0.75;
}


.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  text-align: center;
} 



